.calendar__nav {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.calendar__nav__panel {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px;
}
.calendar__nav__panel div:nth-child(2) {
  margin: 0 auto;
  transform: translateX(-40%);
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -o-transform: translateX(-40%);
  font-size: 21px;
  font-weight: 500;
}
.calendar__nav__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 10px;
}
.calendar__nav__days p {
  text-align: center;
}
.calendar__board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}
.calendar__board__card {
  background-color: rgb(236, 236, 236);
  min-height: 100px;
  position: relative;
  padding: 5px;
}
.calendar__board__card[last-month="true"] {
  background-color: transparent;
}
.calendar__board__card__day {
  font-weight: bold;
}
.calendar__board__card__add-btn {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 5px;
  border: none;
  font-size: 16px;
  color: rgb(174, 174, 174);
}
.calendar__board__card__add-btn:hover {
  color: rgb(26, 210, 118);
}